<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
  <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers></entityFramework>
  <connectionStrings>

    <!--<add name="unitworksccsEntities" connectionstring="Data Source=localhost;Initial Catalog=unitworksccs;User Id=root;Password=@1234"; providername="MySql.Data.MySqlClient" />-->
    <!--<add name="i_facilityEntities1" connectionString="metadata=res://*/ServerModel.Model1.csdl|res://*/ServerModel.Model1.ssdl|res://*/ServerModel.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=srks4$tvsm;persistsecurityinfo=True;database=i_facility&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="i_facilityEntities1" connectionString="metadata=res://*/ServerModel.Model1.csdl|res://*/ServerModel.Model1.ssdl|res://*/ServerModel.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=srks4$;persistsecurityinfo=True;database=i_facility&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="i_facilityEntities1" connectionString="metadata=res://*/ServerModel.Model1.csdl|res://*/ServerModel.Model1.ssdl|res://*/ServerModel.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.20.10.61;user id=root;password=srks4$;persistsecurityinfo=True;database=mazakdaq&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="mazakdaqEntities" connectionString="metadata=res://*/ServerModel.TATA.csdl|res://*/ServerModel.TATA.ssdl|res://*/ServerModel.TATA.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.20.10.61;user id=root;password=srks4$;database=mazakdaq;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="i_facility_tsalEntities" connectionString="metadata=res://*/TATA.csdl|res://*/TATA.ssdl|res://*/TATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TCP:USER-PC\SQLEXPRESS,9021;initial catalog=i_facility_tsal;user id=sa;password=srks4$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="unitworksccsEntities" connectionString="metadata=res://*/ServerModel.unitworksccs.csdl|res://*/ServerModel.unitworksccs.ssdl|res://*/ServerModel.unitworksccs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TCP:SRKSDEV007\SQLEXPRESS,1236;initial catalog=unitworksccs;persist security info=True;user id=sa;password=srks4$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!-- <add name="unitworksccsEntities" connectionString="metadata=res://*/ServerModel.unitworksccs.csdl|res://*/ServerModel.unitworksccs.ssdl|res://*/ServerModel.unitworksccs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TCP:172.16.8.5,1433;initial catalog=unitworksccs;persist security info=True;user id=sa;password=srks4$maini;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="unitworksccsEntities1" connectionString="metadata=res://*/ServerModel.Model1.csdl|res://*/ServerModel.Model1.ssdl|res://*/ServerModel.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=@1234;database=unitworksccs;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    
    
    <!--<add name="mazakdaqEntities"     connectionString="metadata=res://*/ServerModel.TATA.csdl|res://*/ServerModel.TATA.ssdl|res://*/ServerModel.TATA.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.20.10.61;user id=root;password=srks4$;database=mazakdaq;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.22.0" newVersion="8.0.21.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>